<div class="row">
    <div class="col">
        <h1>Administración de usuarios</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Mail</th>
                </tr>
            </thead>
            <tbody id="table_body">
            </tbody>
        </table>
    </div>
</div>

<script src="js/users.js"></script>